@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: 'Raleway', sans-serif;
}

.container {
  padding: 1.5rem;
  width: 100%;
  height: 100%;
}

.section-part {
  flex-grow: 1;
}

.section-half {
  width: 50%;
}

.section-major {
  flex-grow: 5;
}

.row-flex {
  display: flex;
  flex-direction: row;
}

.column-flex {
  display: flex;
  flex-direction: column;
}

.code-container{
  padding: 1rem;
  border: none;
  border-radius: 2px;
  background-color: #fff;
  font: inherit;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .25);
  overflow: auto;
  resize: none;
  -moz-user-select: all;
  -ms-user-select: all;
  -webkit-user-select: all;
  user-select: all;
}

.fixed-height{
  height: 2.5rem !important;
}

.fixed-width{
  height: 30%;
}

.content-spacebetween{
  justify-content: space-between;
}

.row-flex button{
  flex-grow: 3;
}

.fill_container {
  width: 100%;
  min-height: calc( 100vh - 9rem );
}

.btm-padding {
  padding-bottom: 1rem;
}